<div class="box">
	<div class="box-header">
		<span class="title"></span>
		{% if group_actions %} 
		<ul class="box-toolbar">
			{% comment %}<li><span class="label label-green">2 left</span></li>{% endcomment %}
			{{ group_actions|safe }}
		</ul>
		{% endif %}
	</div>
	<div class="box-content">
		<table class="table table-normal">
			<thead>
				<tr>
					{% for column in columns %}
					<th>{{ column.name }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for row in rows %}
				{% include 'merkabah/admin/datatable/row.html' %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>