<ul>
	{% for item in primary_menu %}
	<li class="">
		<a href="/madmin{{ item.link }}">
	 		<i class="{{ item.icon }}"></i> {{ item.title }}
		</a>
	</li>
	{% endfor %}
</ul>

{% comment %}
  <li class="">
    <a href="/madmin/blog/">
      <i class="icon-file"></i> Blog
    </a>
  </li>

  <li class="">
    <a href="buttons_dropdowns.html">
        <i class="icon-beaker"></i> UI Lab
    </a>
  </li>

  <li class="">
    <a href="../widgets/widgets.html">
        <i class="icon-plus-sign"></i> Widgets
    </a>
  </li>

  <li class="">
    <a href="../charts/charts.html">
        <i class="icon-bar-chart"></i> Charts
    </a>
  </li>





  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i>More <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li>
        <a href="../error_404.html">
            <i class="icon-warning-sign"></i> Error 404
        </a>
      </li>

      

      <li>
        <a href="../docs/docs.html">
            <i class="icon-book"></i> Documentation
        </a>
      </li>

      
      <li class="divider"></li>
      <li>
        <a href="../login/login.html">
            <i class="icon-off"></i> Log out (login page)
        </a>
      </li>
    </ul>
  </li>
{% endcomment %}

