<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" dir="ltr" lang="en-US" ng-app="merkabah">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block content_title %}Merkabah{% endblock %}</title>
        
        <script src="/merkabah/static/js/angular.min.js"></script>
        <script src="/merkabah/static/js/jquery.min.js"></script>
        <script src="/merkabah/static/js/merkabah.js"></script>
        {% block head_content %}
            
        {% endblock %}
    </head>
    <body ng-controller="MainCtrl">
        {% block body_content %}
            Extend this to put your body content here..
        {% endblock %}      
    </body>
</html>
