/* line 6, buttons.css.scss */
button.button .caret {
  margin-top: 4px; }
/* line 10, buttons.css.scss */
button.button.mini {
  padding: 0 4px; }

/* line 15, buttons.css.scss */
.btn-group {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px; }
  /* line 20, buttons.css.scss */
  .btn-group:last-child {
    margin-right: 0; }
  /* line 24, buttons.css.scss */
  .btn-group + .btn-group {
    margin-left: 0; }
  /* line 28, buttons.css.scss */
  .btn-group .button {
    white-space: nowrap;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    margin-left: -1px; }
    /* line 33, buttons.css.scss */
    .btn-group .button:first-child {
      margin-left: 0;
      -webkit-border-radius: 3px 3px;
      -moz-border-radius: 3px 0 0 3px / 3px 0 0 3px;
      border-radius: 3px 0 0 3px / 3px 0 0 3px; }
    /* line 38, buttons.css.scss */
    .btn-group .button:last-child {
      -webkit-border-radius: 0 0;
      -moz-border-radius: 0 3px 3px 0 / 0 3px 3px 0;
      border-radius: 0 3px 3px 0 / 0 3px 3px 0; }
    /* line 42, buttons.css.scss */
    .btn-group .button.dropdown-toggle {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
    /* line 46, buttons.css.scss */
    .btn-group .button + .button.dropdown-toggle {
      border-radius: 0 4px 4px 0; }
  /* line 52, buttons.css.scss */
  .btn-group .dropdown-menu.dropdown-left {
    right: 0;
    position: absolute;
    left: auto; }
  /* line 58, buttons.css.scss */
  .btn-group .dropdown-menu li a {
    text-shadow: none; }

/* line 63, buttons.css.scss */
.button {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 10px;
  text-align: center;
  color: #434343;
  line-height: 1;
  background: #ededed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(top, #ffffff, #ededed);
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  border: 1px solid lightgrey; }
  /* line 50, button_mixins.css.scss */
  .button.inset {
    text-shadow: rgba(255, 255, 255, 0.5) 0 -1px 1px; }
  /* line 53, button_mixins.css.scss */
  .button.disabled {
    background: white;
    text-shadow: none;
    border: 1px solid #ededed;
    cursor: default; }
    /* line 38, button_mixins.css.scss */
    .button.disabled:hover, .button.disabled:active {
      background: white;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  /* line 57, button_mixins.css.scss */
  .button:hover {
    background: #e3e3e3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(top, #f7f7f7, #e3e3e3); }
  /* line 61, button_mixins.css.scss */
  .button:active {
    background: #e8e8e8;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #e8e8e8));
    background-image: -webkit-linear-gradient(top, #d6d6d6, #e8e8e8);
    background-image: -moz-linear-gradient(top, #d6d6d6, #e8e8e8);
    background-image: -o-linear-gradient(top, #d6d6d6, #e8e8e8);
    background-image: linear-gradient(top, #d6d6d6, #e8e8e8); }
  /* line 68, buttons.css.scss */
  .button i {
    line-height: 16px; }
  /* line 72, buttons.css.scss */
  .button.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  /* line 76, buttons.css.scss */
  .button.mini {
    padding: 0px 10px;
    line-height: 20px; }
  /* line 81, buttons.css.scss */
  .button.large {
    border: none;
    padding: 0 18px;
    min-width: 90px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    margin-right: 10px;
    margin-bottom: 10px; }
    /* line 89, buttons.css.scss */
    .button.large:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #000;
      top: 1px;
      position: relative; }
    /* line 96, buttons.css.scss */
    .button.large:hover {
      color: #333; }
    /* line 100, buttons.css.scss */
    .button.large span {
      margin-top: 5px;
      font-size: 12px;
      margin-bottom: 10px;
      display: block; }
    /* line 107, buttons.css.scss */
    .button.large i {
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      margin-top: 20px; }
    /* line 116, buttons.css.scss */
    .button.large:last-child {
      margin-right: 0; }
  /* line 121, buttons.css.scss */
  .button:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.5) 0px 1px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.5) 0px 1px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.5) 0px 1px 0px 0px; }
  /* line 125, buttons.css.scss */
  .button.blue {
    background: #147cb9;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYTNlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE0N2NiOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ca3e8), color-stop(100%, #147cb9));
    background-image: -webkit-linear-gradient(top, #2ca3e8, #147cb9);
    background-image: -moz-linear-gradient(top, #2ca3e8, #147cb9);
    background-image: -o-linear-gradient(top, #2ca3e8, #147cb9);
    background-image: linear-gradient(top, #2ca3e8, #147cb9);
    border: 1px solid #126da2;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.blue.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.blue.disabled {
      background: #539cc6;
      text-shadow: none;
      border: 1px solid #147cb9;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.blue.disabled:hover, .button.blue.disabled:active {
        background: #539cc6;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.blue:hover {
      background: #168bd0;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2OGJkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3fabea), color-stop(100%, #168bd0));
      background-image: -webkit-linear-gradient(top, #3fabea, #168bd0);
      background-image: -moz-linear-gradient(top, #3fabea, #168bd0);
      background-image: -o-linear-gradient(top, #3fabea, #168bd0);
      background-image: linear-gradient(top, #3fabea, #168bd0); }
    /* line 84, button_mixins.css.scss */
    .button.blue:active {
      background: #168bd0;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYWJlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2OGJkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3fabea), color-stop(100%, #168bd0));
      background-image: -webkit-linear-gradient(top, #3fabea, #168bd0);
      background-image: -moz-linear-gradient(top, #3fabea, #168bd0);
      background-image: -o-linear-gradient(top, #3fabea, #168bd0);
      background-image: linear-gradient(top, #3fabea, #168bd0);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 129, buttons.css.scss */
  .button.red {
    background: #cc0000;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMTQxNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1414), color-stop(100%, #cc0000));
    background-image: -webkit-linear-gradient(top, #ff1414, #cc0000);
    background-image: -moz-linear-gradient(top, #ff1414, #cc0000);
    background-image: -o-linear-gradient(top, #ff1414, #cc0000);
    background-image: linear-gradient(top, #ff1414, #cc0000);
    border: 1px solid #b30000;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.red.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.red.disabled {
      background: #dd3c3c;
      text-shadow: none;
      border: 1px solid #cc0000;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.red.disabled:hover, .button.red.disabled:active {
        background: #dd3c3c;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.red:hover {
      background: #e60000;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMjkyOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff2929), color-stop(100%, #e60000));
      background-image: -webkit-linear-gradient(top, #ff2929, #e60000);
      background-image: -moz-linear-gradient(top, #ff2929, #e60000);
      background-image: -o-linear-gradient(top, #ff2929, #e60000);
      background-image: linear-gradient(top, #ff2929, #e60000); }
    /* line 84, button_mixins.css.scss */
    .button.red:active {
      background: #e60000;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMjkyOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff2929), color-stop(100%, #e60000));
      background-image: -webkit-linear-gradient(top, #ff2929, #e60000);
      background-image: -moz-linear-gradient(top, #ff2929, #e60000);
      background-image: -o-linear-gradient(top, #ff2929, #e60000);
      background-image: linear-gradient(top, #ff2929, #e60000);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 133, buttons.css.scss */
  .button.purple {
    background: purple;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3MDBjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgwMDA4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c700c7), color-stop(100%, #800080));
    background-image: -webkit-linear-gradient(top, #c700c7, #800080);
    background-image: -moz-linear-gradient(top, #c700c7, #800080);
    background-image: -o-linear-gradient(top, #c700c7, #800080);
    background-image: linear-gradient(top, #c700c7, #800080);
    border: 1px solid #670066;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.purple.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.purple.disabled {
      background: #ae1fae;
      text-shadow: none;
      border: 1px solid purple;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.purple.disabled:hover, .button.purple.disabled:active {
        background: #ae1fae;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.purple:hover {
      background: #9a0099;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjMDBkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhMDA5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc00dc), color-stop(100%, #9a0099));
      background-image: -webkit-linear-gradient(top, #dc00dc, #9a0099);
      background-image: -moz-linear-gradient(top, #dc00dc, #9a0099);
      background-image: -o-linear-gradient(top, #dc00dc, #9a0099);
      background-image: linear-gradient(top, #dc00dc, #9a0099); }
    /* line 84, button_mixins.css.scss */
    .button.purple:active {
      background: #9a0099;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjMDBkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhMDA5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc00dc), color-stop(100%, #9a0099));
      background-image: -webkit-linear-gradient(top, #dc00dc, #9a0099);
      background-image: -moz-linear-gradient(top, #dc00dc, #9a0099);
      background-image: -o-linear-gradient(top, #dc00dc, #9a0099);
      background-image: linear-gradient(top, #dc00dc, #9a0099);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 137, buttons.css.scss */
  .button.yellow {
    background: #cccc00;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f500), color-stop(100%, #cccc00));
    background-image: -webkit-linear-gradient(top, #f5f500, #cccc00);
    background-image: -moz-linear-gradient(top, #f5f500, #cccc00);
    background-image: -o-linear-gradient(top, #f5f500, #cccc00);
    background-image: linear-gradient(top, #f5f500, #cccc00);
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
    border: 1px solid #999900; }
    /* line 50, button_mixins.css.scss */
    .button.yellow.inset {
      text-shadow: rgba(255, 255, 255, 0.5) 0 -1px 1px; }
    /* line 53, button_mixins.css.scss */
    .button.yellow.disabled {
      background: #dddd3c;
      text-shadow: none;
      border: 1px solid #cccc00;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.yellow.disabled:hover, .button.yellow.disabled:active {
        background: #dddd3c;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 57, button_mixins.css.scss */
    .button.yellow:hover {
      background: #b8b800;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4YjgwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e000), color-stop(100%, #b8b800));
      background-image: -webkit-linear-gradient(top, #e0e000, #b8b800);
      background-image: -moz-linear-gradient(top, #e0e000, #b8b800);
      background-image: -o-linear-gradient(top, #e0e000, #b8b800);
      background-image: linear-gradient(top, #e0e000, #b8b800); }
    /* line 61, button_mixins.css.scss */
    .button.yellow:active {
      background: #c2c200;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllOWUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MyYzIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9e9e00), color-stop(100%, #c2c200));
      background-image: -webkit-linear-gradient(top, #9e9e00, #c2c200);
      background-image: -moz-linear-gradient(top, #9e9e00, #c2c200);
      background-image: -o-linear-gradient(top, #9e9e00, #c2c200);
      background-image: linear-gradient(top, #9e9e00, #c2c200); }
  /* line 141, buttons.css.scss */
  .button.green {
    background: #1a661a;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4YTAyOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhNjYxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #28a028), color-stop(100%, #1a661a));
    background-image: -webkit-linear-gradient(top, #28a028, #1a661a);
    background-image: -moz-linear-gradient(top, #28a028, #1a661a);
    background-image: -o-linear-gradient(top, #28a028, #1a661a);
    background-image: linear-gradient(top, #28a028, #1a661a);
    border: 1px solid #145214;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.green.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.green.disabled {
      background: #488548;
      text-shadow: none;
      border: 1px solid #1a661a;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.green.disabled:hover, .button.green.disabled:active {
        background: #488548;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.green:hover {
      background: #1f7b1f;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYjAyYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmN2IxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2cb02c), color-stop(100%, #1f7b1f));
      background-image: -webkit-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: -moz-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: -o-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: linear-gradient(top, #2cb02c, #1f7b1f); }
    /* line 84, button_mixins.css.scss */
    .button.green:active {
      background: #1f7b1f;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYjAyYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmN2IxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2cb02c), color-stop(100%, #1f7b1f));
      background-image: -webkit-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: -moz-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: -o-linear-gradient(top, #2cb02c, #1f7b1f);
      background-image: linear-gradient(top, #2cb02c, #1f7b1f);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 145, buttons.css.scss */
  .button.black {
    background: #262626;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNGE0YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a4a4a), color-stop(100%, #262626));
    background-image: -webkit-linear-gradient(top, #4a4a4a, #262626);
    background-image: -moz-linear-gradient(top, #4a4a4a, #262626);
    background-image: -o-linear-gradient(top, #4a4a4a, #262626);
    background-image: linear-gradient(top, #4a4a4a, #262626);
    border: 1px solid #1a1a1a;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.black.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.black.disabled {
      background: #4d4d4d;
      text-shadow: none;
      border: 1px solid #262626;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.black.disabled:hover, .button.black.disabled:active {
        background: #4d4d4d;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.black:hover {
      background: #333333;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(top, #545454, #333333);
      background-image: -moz-linear-gradient(top, #545454, #333333);
      background-image: -o-linear-gradient(top, #545454, #333333);
      background-image: linear-gradient(top, #545454, #333333); }
    /* line 84, button_mixins.css.scss */
    .button.black:active {
      background: #333333;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(top, #545454, #333333);
      background-image: -moz-linear-gradient(top, #545454, #333333);
      background-image: -o-linear-gradient(top, #545454, #333333);
      background-image: linear-gradient(top, #545454, #333333);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 149, buttons.css.scss */
  .button.light-gray {
    background: #46464d;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4Njg3MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #686873), color-stop(100%, #46464d));
    background-image: -webkit-linear-gradient(top, #686873, #46464d);
    background-image: -moz-linear-gradient(top, #686873, #46464d);
    background-image: -o-linear-gradient(top, #686873, #46464d);
    background-image: linear-gradient(top, #686873, #46464d);
    border: 1px solid #3a3a40;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.light-gray.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.light-gray.disabled {
      background: #707070;
      text-shadow: none;
      border: 1px solid #46464d;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.light-gray.disabled:hover, .button.light-gray.disabled:active {
        background: #707070;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.light-gray:hover {
      background: #52525b;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyNzI3ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUyNTI1YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72727e), color-stop(100%, #52525b));
      background-image: -webkit-linear-gradient(top, #72727e, #52525b);
      background-image: -moz-linear-gradient(top, #72727e, #52525b);
      background-image: -o-linear-gradient(top, #72727e, #52525b);
      background-image: linear-gradient(top, #72727e, #52525b); }
    /* line 84, button_mixins.css.scss */
    .button.light-gray:active {
      background: #52525b;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyNzI3ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUyNTI1YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72727e), color-stop(100%, #52525b));
      background-image: -webkit-linear-gradient(top, #72727e, #52525b);
      background-image: -moz-linear-gradient(top, #72727e, #52525b);
      background-image: -o-linear-gradient(top, #72727e, #52525b);
      background-image: linear-gradient(top, #72727e, #52525b);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
  /* line 153, buttons.css.scss */
  .button.gray {
    background: #3a3a40;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWM2NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhM2E0MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c5c65), color-stop(100%, #3a3a40));
    background-image: -webkit-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: -moz-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: -o-linear-gradient(top, #5c5c65, #3a3a40);
    background-image: linear-gradient(top, #5c5c65, #3a3a40);
    border: 1px solid #2e2e33;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
    color: white; }
    /* line 72, button_mixins.css.scss */
    .button.gray.inset {
      text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px; }
    /* line 76, button_mixins.css.scss */
    .button.gray.disabled {
      background: #636363;
      text-shadow: none;
      border: 1px solid #3a3a40;
      cursor: default; }
      /* line 38, button_mixins.css.scss */
      .button.gray.disabled:hover, .button.gray.disabled:active {
        background: #636363;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    /* line 80, button_mixins.css.scss */
    .button.gray:hover {
      background: #46464d;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #46464d));
      background-image: -webkit-linear-gradient(top, #666670, #46464d);
      background-image: -moz-linear-gradient(top, #666670, #46464d);
      background-image: -o-linear-gradient(top, #666670, #46464d);
      background-image: linear-gradient(top, #666670, #46464d); }
    /* line 84, button_mixins.css.scss */
    .button.gray:active {
      background: #46464d;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #46464d));
      background-image: -webkit-linear-gradient(top, #666670, #46464d);
      background-image: -moz-linear-gradient(top, #666670, #46464d);
      background-image: -o-linear-gradient(top, #666670, #46464d);
      background-image: linear-gradient(top, #666670, #46464d);
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0); }
